/*Arquivo CSS*/

body {
	height: 100vh;
    margin: 0;
	display: flex;
    flex-direction: column;
}

body div, ul, footer, figure, figcaption, img, p {
    display: flex;   
    flex-direction: column;
}
