/*Arquivo CSS*/

body {
	height: 100vh;
    margin: 0;
	display: flex;
    flex-direction: column;
	font-size: 18px;
	color: #E5E7EB;
}

body div, ul, footer, figure, figcaption, img, p, li {
    display: flex;   
}
.header {
	justify-content: center;
	background-color: #1F2937;
	padding-bottom: 200px;
}
.header-central, .information, .quote, .call, .header-conteudo-esq {
    flex-direction: column; /*divide as principais partes da pargina em colunas*/
}
/**/
.header-top {
	justify-content: space-between;
    align-items: center;
}

.header-central {
	width: 80%;
	gap: 100px;
}

.header-img, .header-conteudo-esq {
	width: 600px;
	height: 214px;
}

.main-text {
	font-size: 48px;
	font-weight: bold;
    color: #F9FAF8;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	    gap: 20px;
}

a {
	color: #E5E7EB;
    text-decoration: none;
}

button {
	background: #3882F6;
    color: #E5E7E3;
    font-size: 18px;
	width: max-content;
	border-radius: 10px;
    padding: 5px 20px;
    border-style: none;
}
}

.header-conteudo {
	gap: 20px;
}
.header-conteudo-esq {
	gap: 5px;
}
