/*Arquivo CSS*/

body {
	height: 100vh;
    margin: 0;
	display: flex;
    flex-direction: column;
	font-size: 18px;
	color: #E5E7EB;
}

body div, ul, footer, figure, figcaption, img, p, li {
    display: flex;   
}
.header {
	justify-content: center;
	background-color: #1F2937;
	padding-bottom: 200px;
}
.header-central, .information, .quote, .call, .header-conteudo-esq, .quote-centre, figure, .call-textcontainer {
    flex-direction: column; /*divide as principais partes da pargina em colunas*/
}
/**/
.header-top {
	justify-content: space-between;
    align-items: center;
}

.header-central {
	width: 80%;
	gap: 100px;
}

.header-img, .header-conteudo-esq {
	width: 600px;
	height: 214px;
}

.main-text {
	font-size: 48px;
	font-weight: bold;
    color: #F9FAF8;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	    gap: 20px;
}

a {
	color: #E5E7EB;
    text-decoration: none;
}

button {
	background: #3882F6;
    color: #E5E7E3;
    font-size: 18px;
	width: max-content;
	border-radius: 10px;
    padding: 5px 20px;
    border-style: none;
}


.header-conteudo {
	gap: 20px;
}
.header-conteudo-esq {
	gap: 5px;
}

figure {
    width: 200px;
	gap: 30px;
}

figcaption {
	text-align: center;
}

.text-information, .information, .quote {
	color: #1F2937;
}

.information {
	align-items: center;
	gap: 30px;
	padding-top: 30px;
    padding-bottom: 100px;
}

.text-information {
    font-weight: 900;
    font-size: 36px;
}

/*Quote*/

.quote {
	align-items: center;
	background-color: #E5E7EB;
    font-size: 36px;
	padding-top: 90px;
    padding-bottom: 90px;

}
.quote-text {
	max-width: 600px;
}
.quote-autor {
	align-self: end;
	font-weight: 600;
}

/*Call*/

.call-center {
	justify-content: space-around;
    background-color: #3882F6;
    width: 70%;
    align-self: center;
	padding: 40px;
	 border-radius: 10px;
}

.call-textcontainer p {
	margin: 0;
}

.call {
	    padding: 50px;
}

#call-button {
	    border: 2px solid white;
}

.call-texttop, button, .logo {
	font-weight: 900;
}
.call-texttop {
	color: #F9FAF8;
}




